@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --bg-color: #243441;
    --elevation: -2px -2px 9px -3px rgb(112 112 112 / 50%), 3px 3px 3px 0 rgb(12 17 22 / 50%);
    --depression: inset -2px -2px 9px -3px rgb(112 112 112 / 50%), inset 3px 3px 3px 0 rgb(12 17 22 / 50%);
    --depression-2: inset 0 0 4px 2px rgb(12 17 22 / 50%);
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
}

body {
    background: var(--bg-color);
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.elements {
    width: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper_2 {
    width: 355px;
}

.wrapper_2>*:not(:last-child) {
    margin-bottom: 34px;
}

.wrapper_3 {
    width: 205px;
    text-align: right;
    padding-left: 40px;
}

.h-space>*:not(:last-child) {
    margin-right: 20px;
}

.btn-icon {
    border: none;
    box-shadow: var(--elevation);
    cursor: pointer;
    height: 53px;
    width: 53px;
    background: var(--bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.btn-neo.btn-disabled,
.btn-icon.btn-disabled {
    box-shadow: var(--depression);
    opacity: 0.33;
}

.btn-neo {
    background: var(--bg-color);
    width: 100%;
    height: 53px;
    border-radius: 60px;
    border: none;
    box-shadow: var(--elevation);
    cursor: pointer;
}

.btn-neo.primary {
    color: #0AFFEF;
    font-size: 18px;
}

.btn-neo.secondary {
    color: rgba(255, 255, 255, 0.4);
    font-size: 13px;
}

.btn-neo.light {
    height: 35px;
    background: #0AFFEF;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-neo.danger {
    color: var(--bg-color);
    background: #FF555D;
    height: 36px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-wrapper {
    width: 166px;
    background: var(--bg-color);
    box-shadow: var(--depression);
    border-radius: 26px;
    padding: 12px;
    display: inline-block;
}

.btn-circle {
    padding: 15px;
    border-radius: 50%;
    border: none;
    box-shadow: var(--depression);
    background: var(--bg-color);
    width: 80px;
    height: 80px;
}

.btn-circle button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #0AFFEF;
    box-shadow: var(--elevation);
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.btn-circle.btn-danger button {
    background: #FF555D;
}

.input-neo,
.input-neo-error {
    background: var(--bg-color);
    border-radius: 60px;
    height: 53px;
    outline: none;
    border: none;
    box-shadow: var(--depression);
    width: 100%;
    color: #FFFFFF;
    padding: 0 27px;
}

.input-neo::placeholder {
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.4);
    font-size: 15px;
}

.input-neo.input-error,
.input-neo.input-error::placeholder {
    color: #FF555D;
}

.btn-circle-group {
    display: inline-flex;
}

.btn-wrapper:first-child {
    margin-bottom: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.checkbox-neo {
    width: 62px;
    height: 21px;
    -webkit-appearance: none;
    box-shadow: var(--depression);
    border-radius: 34px;
    background: var(--bg-color);
    position: relative;
    transition: background .4s, box-shadow.4s;
}

.checkbox-neo::before {
    content: '';
    position: absolute;
    width: 21px;
    height: 21px;
    background: #4F5D67;
    border-radius: 50%;
    box-shadow: var(--elevation);
    top: 0;
    left: 0;
    transform: scale(1.4);
    transition: .4s;
    cursor: pointer;
    box-sizing: border-box;
    border: 7px solid var(--bg-color);
}

.checkbox-neo:checked {
    background: #0AFFEF;
    box-shadow: var(--depression-2);
}

.checkbox-neo:checked::before {
    background: #0AFFEF;
    left: 41px;
}

.light-switch {
    border-radius: 12px;
    box-shadow: var(--elevation);
    width: 51px;
    height: 122px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.light-switch .divider {
    width: 50%;
    border: 1px solid #0C1116;
    opacity: .22;
}

.light-switch input[type='radio'] {
    -webkit-appearance: none;
}

.light-switch label {
    font-size: 8px;
    text-transform: uppercase;
    border: none;
    background: none;
    cursor: pointer;
    padding: 15px;
}

.light-switch input:checked+label {
    transition: color .3s;
    color: #0AFFEF;
}

.light-switch img {
    width: 18px;
    opacity: .33;
}